{% extends 'base.html' %}{% load static %}
{% block content %}
<div class='container about'>
    <div class="pt-5">
        <h1>CAR SALE</h1>
        <p>For exceptional customer service and a pristine selection of vehicles, turn to the experts at Impel. We are
            family-owned dealership and have served customers from 1981. Here you will find everything you need for a
            great shopping experience. We have a stress-free shopping environment, transparent pricing, an on-site
            service department and an incredible selection of new, used and certified pre-owned vehicles.</p>
    </div>
    <img class='w-100' src="{% static 'welcome-img.png' %}" alt="" />
</div>
{% endblock %}