{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="w-50 m-auto">

    {% if form.non_field_errors %}
    {% for err in form.non_field_errors %}
    <small class="text-danger text-center"><b>{{err}}</b></small>
    {% endfor %}
    {% endif %}

    {% if messages %}
    {% for m in messages %}
    <small class="text-success text-center"><b>{{m}}</b></small>
    {% endfor %}
    {% endif %}

    <h1 class="text-center">{{type}}</h1>
    <form method="post">
        {% csrf_token %}
        <!-- {{form|crispy}} -->
        {% for fm in form %}
        {{fm.label_tag}}
        {{fm}}
        <small class="text-danger"><b>{{fm.errors|striptags}}</b></small>
        <br>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}