{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="w-50 m-auto">
    {% if messages %}
    {% for m in messages %}
    <p {% if m.tags %} class="{{m.tags}} pb-1" {% endif %}> <b>{{m}}</b> </p>
    {% endfor %}
    {% endif %}

    <h1>Welcome {{user}} to your profile</h1>
    <form method="post">
        {% csrf_token %}
        <!-- {{ form|crispy }} -->
        {% for f in form %}
        {{ f.label_tag }}
        {{ f }}
        <small class="text-danger"><b>{{ f.errors|striptags }}</b></small>
        <br>
        {% endfor %}
        <a href="{% url 'password_reset' %}" class="btn btn-outline-info">Change Password With Old Password</a>
        <a href="{% url 'reset_password' %}" class="btn btn-outline-info">Change Password Without Old Password</a>
        <br>
        <br>
        <button type="submit" class="btn btn-primary">Update Profile</button>
    </form>
</div>
{% endblock %}