{% extends 'base.html' %} {% block content %}
<div
  style="text-align: center"
  class="mt-5 d-flex flex-wrap justify-content-center px-5"
>
  {% for task in data %}
  <div class="col-sm-3 my-4">
    <div class="card bg-success-subtle mx-2">
      <div class="card-body">
        <p class="card-title">{{task.id}}</p>
        <p class="card-title">{{task.assign_date}}</p>
        <p class="card-title">{{task.title}}</p>
        <p class="card-text">{{task.description}}</p>
        <p>
          {% for j in task.category.all %}
          <button class="btn btn-sm btn-outline-primary">{{j.name}}</button>
          {% endfor %}
        </p>
        {% if task.is_completed %}
        <h4 class="text-success">Completed</h4>
        {% else %}
        <a href="{% url 'edit_task' task.id %}" class="btn btn-warning">Edit</a>
        <a href="{% url 'delete_task' task.id %}" class="btn btn-danger"
          >Delete</a
        >
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
