{% extends 'base.html' %}{% load static %} {% block content %}
<div class="d-flex justify-content-center flex-wrap">
  <div
    style="padding-left: 100px"
    class="w-50 d-flex justify-content-center align-items-center"
  >
    <div>
      <h1 style="font-weight: 700" class="text-danger">About Us</h1>
      <p style="font-weight: 500">
        Discover the heart and soul behind our culinary journey. At ReservQ,
        we're passionate about crafting exceptional dining experiences. From
        farm-fresh ingredients to innovative flavors, every dish tells a story.
        Join us as we celebrate food, community, and the joy of sharing
        memorable moments around the table.
      </p>
    </div>
  </div>
  <div class="w-50">
    <img style="width: 100%" src="{% static 'block-4.jpg' %}" alt="ice-cream" />
  </div>
</div>

{% endblock %}
