{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.10.1/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <link rel="stylesheet" href="{% static 'input.css' %}" />
    <link rel="stylesheet" href="{% static 'output.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <div class="navbar bg-base-100">
      <div class="navbar-start">
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h8m-8 6h16"
              />
            </svg>
          </div>
          <ul
            tabindex="0"
            class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
          >
            <li><a href="{% url 'home' %}">Home</a></li>
            <li>
              <a href="{% url 'about' %}">About</a>
            </li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
          </ul>
        </div>
        <a class="btn btn-ghost text-xl">Practice</a>
      </div>
      <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li>
            <a href="{% url 'about' %}">About</a>
          </li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
      </div>
      <div class="navbar-end">
        <a class="btn">Button</a>
      </div>
    </div>
    {% block content %}
    <h1 class="text-5xl my-9 w-full text-center font-extrabold">
      this is home page
    </h1>
    <h1 class="text-3xl my-9 w-full text-center font-bold">
      practicing templates filters
    </h1>
    <h1>{{ "joy is a slug " | wordcount }}</h1>
    <h1>{{ courses | unordered_list }}</h1>
    <h1>{{ "joy is a slug" | slugify }}</h1>
    <h1>{{ courses | random }}</h1>
    <h1>{{ author | upper }}</h1>
    <h1>{{ author | make_list }}</h1>
    <h1>{{ 'VALUE' | lower }}</h1>
    <h1>{{ courses | linenumbers }}</h1>
    <h1>{{ courses | length }}</h1>
    <h1>{{ courses | last }}</h1>
    <h1>{{ courses | first }}</h1>
    <h1>{{ val | divisibleby:"3" }}</h1>
    <h1>" {{ "jai" | center:"30" }}"</h1>
    <h1>{{ courses | dictsort:"name" }}</h1>
    <h1>{{ "value" | capfirst }}</h1>
    <h1>{{ value | default:"an empty string" }}</h1>
    <h1>{{ value | length }}</h1>
    <h1>{{'python - is - fun' | cut:" "}}</h1>
    <h1>{{ val | add:"2" }}</h1>
    <h1>{{ "I’m Jai" | addslashes }}</h1>
    <h1>Author : {{author}}</h1>
    <h1>age : {{age}}</h1>
    <h1>{{lst}}</h1>
    <h1>{{ lst | join:" " }}</h1>
    <h1>{{ birthDate | date:"D d M Y" }}</h1>

    <!--* conditional statement -->

    {% if age >= 20 %}
    <h4>you will get the driving license</h4>
    {% elif age >= 10 and age <= 19 %}
    <h4>you will not get the driving license</h4>
    {% else %}
    <h4>you are a child</h4>
    {% endif %}

    <!-- for loop -->
    {% for i in courses %}
    <h3>{{i.id}} {{i.name}} {{i.fee}}</h3>
    {% endfor %} {% endblock %}
    <script src="https://cdn.tailwindcss.com"></script>
  </body>
</html>
