{% extends 'base.html' %} {% load humanize %}{% load static %} {% block head_title %}Profile{% endblock %}
{% block content %}

<div
    class="card lg:card-side bg-[#fef5e6] flex justify-between items-center rounded-3xl mx-10 shadow-xl py-[50px] px-[350px]">
    {% if user_account.gender == 'Female' %}
    <figure class="rounded-full">
        <img src="https://png.pngtree.com/png-clipart/20220904/ourmid/pngtree-muslim-girl-using-hijab-png-image_6137399.png"
            alt="Album" />
    </figure>
    {% else %}
    <figure class="rounded-full">
        <img src="https://png.pngtree.com/png-vector/20221203/ourmid/pngtree-cartoon-style-male-user-profile-icon-vector-illustraton-png-image_6489287.png"
            alt="Album" />
    </figure>
    {% endif %}
    <div class="">
        <h2 class="mb-3 text-4xl font-bold text-[#615b51]">
            {{user_account.user.username}}</h2>
        <p class="mb-3 text-lg "><b>Name :</b> {{user_account.user.first_name}} {{user_account.user.last_name}}</p>
        <p class="mb-3 text-lg "><b>Email :</b> {{user_account.user.email}}</p>
        <p class="mb-3 text-lg "><b>Balance :</b> {{user_account.balance}}</p>
        <p class="mb-3 text-lg"><b>Birth Date :</b> {{user_account.birth_date}}</p>
        <p class="mb-3 text-lg"><b>Gender :</b> {{user_account.gender}}</p>
        <!-- <div class="card-actions justify-start">
            <button class="btn bg-[#766142] hover:bg-[#766142] text-white">Change Profile Info</button>
        </div> -->
    </div>
</div>









<div class="m-10 py-3 px-4 bg-[#fef5e6] rounded-xl shadow-md">
    <h1 class="font-bold text-3xl text-center pb-5 pt-2 text-[#615b51]">Borrowing History</h1>
    <hr />
    <table class="table-auto mx-auto w-full px-5 rounded-xl mt-8 border dark:border-neutral-500">
        <thead class="bg-purple-900 text-white text-left">
            <tr class="bg-gradient-to-tr from-[#766142] to-[#766142] rounded-md py-2 px-4 text-white font-bold">
                <th class="px-4 py-2">Book Image</th>
                <th class="px-4 py-2">Book Title</th>
                <th class="px-4 py-2">Borrowing Date</th>
                <th class="px-4 py-2">Borrow Price</th>
                <th class="px-4 py-2">Balance After Borrow</th>
                <th class="px-4 py-2">Return Book</th>
            </tr>
        </thead>
        <tbody>
            {% for borrow in borrows %}
            <tr class="border-b dark:border-neutral-500">
                <td class="px-4 py-2">
                    <div class="avatar">
                        <div class="mask mask-squircle w-12 h-12">
                            <img src="{{borrow.book.image.url}}" alt="{{borrow.book.title}}" />
                        </div>
                    </div>
                </td>
                <td class="px-4 py-2">

                    {{ borrow.book.title }}
                </td>
                <td class="px-4 py-2">
                    {{ borrow.created_on }}
                </td>
                <td class="px-4 py-2">
                    $ {{ borrow.book.price }}
                </td>
                <td class="px-4 py-2">
                    $ {{ borrow.balance_after_borrow }}
                </td>
                <td class="px-4 py-2">
                    <form action="{% url 'return_book' borrow.pk %}" method="post">
                        {% csrf_token %}
                        <button type="submit"
                            class="border-2 border-[#766142] text-[#766142] px-3 py-2 font-bold rounded-xl">Return
                            Book</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            <tr class=" bg-[#615b51] text-white">
                <th class="px-4 py-2 text-right" colspan="5">Current Balance</th>
                <th class="px-4 py-2 text-left">
                    $ {{ user_account.balance|floatformat:2|intcomma }}
                </th>
            </tr>
        </tbody>
    </table>
</div>




{% endblock %}