<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Transaction Failed</title>

</head>

<body>
    <div class="container">
        <h1>Payment Failed</h1>
        <p>Unfortunately, your transaction could not be processed.</p>
        <p>Please try again or contact support if you continue to experience issues.</p>

        <!-- <a href="https://yummi-tummy.netlify.app/profile/2" class="btn btn-primary">Try Again</a> -->
        <a href="https://yummi-tummy.netlify.app/" class="btn btn-secondary">Return to Homepage</a>
    </div>
</body>

</html>